:root {
  --color-site-1-rgb: 18, 18, 18; /* Hex: #121212 */
  --color-brand-1-rgb: 21, 35, 56; /* Hex: #152238 */
  --color-brand-1-c-1-rgb: 248, 240, 227; /* Hex: #F8F0E3 */
  --color-brand-1-c-2-rgb: 255, 145, 102; /* Hex:  #FF9166 */
  --color-brand-1-c-3-rgb: 129, 223, 195; /* Hex: #81E9C3 */
  --color-brand-2-rgb: 196, 85, 8; /* Hex: #C45508 */
  --color-brand-3-rgb: 47, 182, 141; /* Hex: #2FB68D */
  --color-logo-top: #ff218c;
  --color-logo-focal: #ffd800;
  --color-logo-bottom: #21b1ff;
  --z-main-content: 1000;
  --z-above: 1;
  --z-below: -1;
}

html,
body {
  padding: 0;
  margin: 0;
  min-height: 100%;
  max-width: 100vw;
  color: rgb(var(--color-brand-1-c-1-rgb));
  background-color: rgb(var(--color-site-1-rgb));
}
html {
  font-size: 16px;
}

body {
  position: relative;
  font-family: var(--font-literata);
  line-height: 1.65;
}

p {
  font-size: 1em;
}

h1,
h2,
h3,
h4,
h5 {
  line-height: 1.15;
}

h1,
h2,
h3 {
  font-family: var(--font-ubuntu);
  font-weight: 400;
}

h4,
h5 {
  font-family: var(--font-ubuntu);
  font-weight: 700;
}

h1,
.text-size-h1 {
  margin-top: 0;
  font-size: 2.49em;
}

h2,
.text-size-h2 {
  font-size: 2.07em;
}

h3,
.text-size-h3 {
  font-size: 1.73em;
}

h4,
.text-size-h4 {
  font-size: 1.44em;
}

h5,
.text-size-h5 {
  font-size: 1.2em;
}

.text-caption {
  font-size: 0.83em;
}

small,
.text-small {
  font-size: 0.69em;
}

main {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: calc(var(--navbar-height) + 20px) 0;
  padding: 0 50px;
  min-height: calc(100vh - var(--navbar-height));
  z-index: var(--z-main-content);
}
