.footer {
  position: relative;
  width: 100vw;
  min-height: 10vh;
  background-color: rgb(var(--color-brand-1-rgb));
  box-shadow: 0 0 40vh rgba(var(--color-nest-1-rgba));
  z-index: calc(var(--z-main-content) + var(--z-below));
}
